#root{

}

.mainBody{
    display: flex;
    justify-content: center;

}

.mainBodyContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem 0rem;
}

.devHelpForm{
    width: 100%;
    .formItem{
        margin: 1rem 0rem;
        label{
            top: auto;
        }
        div{
            width: 100%;
        }
    }
}

.helpToolDiv{
    display: grid;
    justify-items: center;
    > div{
        margin: 0rem 0rem 3rem;
    }
}

.tableDisplay{
    margin: 0rem .5rem;
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
}

.resOutput{
    margin: 0rem 1rem;
    ul{
        text-align: start;
        margin: 2rem 0rem;
    }
}

.cronLoading{
    display: flex;
    justify-content: center;
}

.errorFeedback{
    color: red;
}

@media only screen and (min-width:34rem) 
{
    .tableDisplay .resOutput{
        margin: 0rem 1rem;
    }
    
}

@media only screen and (min-width:60rem) 
{
    .resOutput{
        margin: 0rem 20%;
    }
}